.loader {
  animation: loader 0.7s linear infinite;
  height: 100%;
  width: 100%;
}

.pulse {
  height: 40px;
  width: 40px;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
